<router-outlet></router-outlet>

<!--  <div class="container-fluid py-3">
  <h1>Angular Leaflet</h1>

  <div id="map"></div>
</div> -->
<!-- <app-login></app-login> 
<div class="box">
  <div class="cart" id="map">Cart</div>
  <div class="list">
      <h1>Report Card</h1>
      <div class="Fiche">
          <div class="desc">
              <article>
                  <h2>Title</h2>
                  <label>Descriptions : </label>This is my descriptions 
                  <br><label>Coordinate : </label><Strong>Lat : </Strong>-18.726901,  <strong>long : </strong>47.318115
                  <br><label>Date : </label>22 th february 2022
                  <br><label>Status : </label>New
                  <br><label>Region : </label>My Region 
                  <br> <label>Type of reppot : </label>Roads
              </article>
              <aside>
                  <label>Signalman : </label>Username 
                  <br>
                  <img src="http://fakeimg.pl/100x100/000/?text=name"> 
                  <br><strong>Addressmail</strong> 
              </aside>
          </div>
          <div class="photos">
              <img src="http://fakeimg.pl/460x460/000/?text=1">
              <img src="http://fakeimg.pl/460x460/111/?text=2">
              <img src="http://fakeimg.pl/460x460/222/?text=3">
              <img src="http://fakeimg.pl/460x460/333/?text=4">
          </div>
          <div class="Changestatus"> 
              <a href="#">Change status &raquo;</a>
          </div>
      </div>
  </div>
</div> -->